.productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

    &__tarjeta {
        display: grid;
        grid-template-rows: auto auto 30px 50px;
        align-items: center;
        justify-items: center;
        margin: 10px;

        & h3 {
            text-align: center;
            margin: 5px;
        }

        & p {
            text-align: center;
        }
    }
}

.tarjeta {
    &__boton {
        font-family: $fuente;
        font-weight: bolder;
        background-color: rgb(208, 143, 221);
        padding: 0.3rem;
        border-radius: 5px;
        border-color: black;
        border-style: solid;
        border-width: 3px;
        text-align: center;
        margin: 0.625rem;
        margin-top: 0.625rem;

        &:hover {
            color: #fff;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        }
    }
}